body { 
    font-family: 'Cormorant Garamond', serif; /* FUENTE  */
    max-width: 1000px; /* alt + shift + a -- Ancho máximo */ 
    margin: 0 auto; /* Margen */ 
}
nav { 
    background: wheat; /* Color de fondo */
    width: 100%; /* Ancho */
    height: 200px; /* Alto */
    
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.10s all;
    padding: 18px 20px;
}
nav ul li:hover{ /* Cuando este sobre un elemento ocurra un cambio*/
    background-color: rgb(247, 204, 124);
}

.img-logo{
    width: 180px; /* Ancho*/
    padding: 20px; 
}

nav ul{

    display: inline-flex;
    position: relative;
    top: -60px;
}
nav ul li a{ 
    text-decoration: none; /*decoración de texto ninguno*/
    color: black; /* color letra*/
}

h1 h2, figure, ul{
    margin: 0;
}

img{
    max-width: 100%;
}

/*ESTILOS 1*/ 

.video{
    background:rgb(197, 137, 197) ;
    width: 0%;
    height:0%;
}
.text{
    background:rgb(250, 125, 250) ;
    width: 80%;
    padding: 8px;
    vertical-align: top;
}

.text2{
    background:rgb(197, 137, 197) ;
    width: 25%;
    padding: 2px;
    vertical-align: top;
}
article{
    background: rgb(165, 111, 125);
}
article h1, h2{
border-bottom: 1px solid rgb(88, 40, 40);
}
.text2, video{
    display: inline-block;
}
.text{
    background:rgb(250, 125, 250) ;
    width: 80%;
    padding: 8px;
}

.section2{
    background: rgb(253, 111, 159); 
    width: 80%;
    padding: 8px;
    vertical-align: top;
}

.boton{
    text-align: center; /* alinear texto*/
    background-color: rgb(253, 111, 159);
    padding: 10px;
}